// ========================================================================
//
// Name:            <atom name>
// Description:     <description here>
//
// ========================================================================

// Variables
// ========================================================================


// Mixins
// ========================================================================


// Atom: <atom name>
// ========================================================================

.a-shape-divider {
    display: block;
    margin: 0 auto;
    fill: $brand-primary-green;
    width: 290px;
    height: 40px;
    //
    @include modifier('margin-medium') {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
