// ========================================================================
//
// Name:            List Inline
// Description:     <description here>
//
// ========================================================================

// Variables
// ========================================================================


// Placeholders
// ========================================================================

%list-unstyled {
    padding-left: 0;
    list-style: none;
}


// Mixins
// ========================================================================


// Utility: List Inline
// ========================================================================

.u-list-unstyled {
    @extend %list-unstyled;
}

// Inline turns list items into inline-block
.u-list-inline {
    @extend %list-unstyled;
    //
    @include element('item') {
        display: inline-block;
        //
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}
