// ========================================================================
//
// Name:            Site Brand
// Description:     <description here>
//
// ========================================================================

// Variables
// ========================================================================


// Mixins
// ========================================================================


// Molecule: Site Brand
// ========================================================================

.m-site-brand {
    //
    @include element('link') {
        display: block;
    }
    @include element('img') {
        max-height: 24px;
        margin-top: ((46 - 24) / 2) * 1px;
        //
        @media (max-width: 767px) {
            margin-top: ((50 - 24) / 2) * 1px;
        }
    }
}
